<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShabySuite">
  <test thread-count="5" name="ShabyTest">
<parameter name = "runningBrowser" value ="firefox"></parameter>
    
    <classes>
      
      <class name="selenium.SendingParametersViaTesNGxml"/>
      
      </classes>
  </test> <!-- ShabyTest -->
</suite> <!-- ShabySuite -->
